{% extends 'table_base.html' %}

{% block pageHeadingTitle %} Entities {% endblock pageHeadingTitle %}

{% block pageHeadingButton %} Create Entity {% endblock pageHeadingButton %}

{% block dataTable %}
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Start date</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Start date</th>
        <th>Salary</th>
      </tr>
    </tfoot>

  </table>
{% endblock dataTable %}

{% block syncButton %}
  <br>
  <a href="{% url 'entities_sync' %}" class="btn btn-user btn-block border">동기화</a>
{% endblock %}
