{% extends 'table_base.html' %}

{% block pageHeadingTitle %} Intents {% endblock pageHeadingTitle %}

{% block pageHeadingButton %} Create Intent {% endblock pageHeadingButton %}

{% block dataTable %}
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>인텐트명</th>
        <th>선호도</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>인텐트명</th>
        <th>선호도</th>
      </tr>
    </tfoot>
    {% if intents %}
      <tbody>
        {% for intent in intents %}
          <tr>
            <td>{{ intent.display_name }}</td>
            <td>{{ intent.priority }}</td>
          </tr>
        {% endfor %}
      </tbody>
    {% endif %}
  </table>
{% endblock dataTable %}

{% block syncButton %}
  <br>
  <a href="{% url 'intents_sync' %}" class="btn btn-user btn-block border">동기화</a>
{% endblock %}
